
.cats.and.coffee {
	position: relative;
	font-size: 175px;
	font-family: 'boiga-fill';
	font-weight: 300;
	font-style: normal;
	color:#231f20;
	text-align: center;
	display: inline-block;
}

.cats.and.coffee {
	text-align: center;
	display: block;
	margin: 4;
}

/*.vegan.cafe {
  	

  	position: relative;
  	font-size: 40px;
  	font-family: 'yerk', sans-serif;
	font-weight: 400;
	font-style: normal;
  	color: #231f20;
  	text-align: center;
  	display: inline-block;
}
.vegan.cafe {
    text-align: center;
    display: block;
    margin: 4;

} 
	*/

.container-fluid{
	background-color: white;
	width: 100%;
	padding: 20px;
	outline: #231f20 sold 5px;
}

.nav-link {
	color: black;
	font-family: 'sofia-pro-comp';
	font-size: 40px;
}

.nav-link.active {
	color: #a32939;
	text-align: left;
	text-decoration: solid underline #a32939; 
	font-family: 'sofia-pro-comp';
	font-size: 40px;
	font-weight: normal;
}




.logo {
	vertical-align: right;
	height: 111px;
	width: auto;

}

.bristol {
	position: relative;
	font-size: 45px;
	font-family: 'sofia-pro-comp';
	font-weight: 350;
	font-style: italic;
	color: #231f20;
	text-align: center;
	display: inline-block;

}

.bristol {
	text-align: center;
	display: block;
	margin: 0;
}

.location {
	position: relative;
	font-size: 45px;
	font-family: 'sofia-pro-comp';
	color: #231f20;
	text-align: center;
	display: inline-block;
}

.location {
	text-align: center;
	display: block;
	margin: 0;
}

.meet.our.furry.friends {
	position: relative;
	font-size: 30px;
	font-family: 'yerk';
	color: #231f20;
	text-align: center;
}

.title-section {
    background-color: #376d3f;
    width: 100%;              
    padding: 50px 0;          
    text-align: center;       
    box-sizing: border-box;   
}

body {
    background-color:#ffffff;
}

.display-1 {
position: relative;
font-size: 60px;
font-family: 'yerk', sans-serif ;
color: #231f20;
text-align: center;

}
.lead {
	
position: relative;
font-size: 30px;
font-family: 'sofia-pro-comp', sans-serif;
color: #572c2c;
text-align: center;
display: inline-block;
}

.cat-title {

  	position: relative;
  	font-size: 30px;
  	font-family: 'sofia-pro-comp', sans-serif;
  	color: #450a0a;
  	white-space: pre-wrap;
  	display: inline-block;
}

.figure-caption {
	font-size: 21px;
  	font-family: 'sofia-pro-comp', sans-serif;
  	color: #450a0a;
  	white-space: pre-wrap;
  	
}

.summary {
	font-size: 60px;
  	font-family: 'yerk';
color: #9d2727;
  	white-space: pre-wrap;
	text-align: center;
  	display: inline-block;

}
.summary { 
	text-align: center;
    display: block;
    margin: 0 auto;
}
.references {
	font-size: 60px;
  	font-family: 'yerk';
color: #9d2727;
  	white-space: pre-wrap;
	text-align: center;
  	display: inline-block;
	
}
.references {
	text-align: center;
    display: block;
    margin: 0 auto;

}



